nav {
    width:100%;
    background-color: white;
    min-height: 45px;
}
.topnav {
    
    max-width: 960px;
    margin: auto;
}

    .topnav li{
        font-family: Myriad Pro, sans-serif;
        font-size:14px;
        font-weight: lighter;
        margin: 15px 20px 10px 0;
        display:inline-block;
        text-shadow: 1px 1px 1px #eeeeee;
    }

    .topnav li.icon{
        font-family: 'Times New Roman', Times, serif;
    }
    .topnav li a {
        color:#9c8768;
        text-decoration: none;
    }
    .topnav li a.active {
        background-image: url("../imgs/underline-small.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    
    }
    .topnav li.icon {
     display: none;
    }
    

    #sub-nav-items {
        font-family: Myriad Pro, sans-serif;
        font-size: 23px;
        }

        #sub-nav-items a{
        font-weight: lighter;
        color:#9c8768;
        text-decoration: none;
        
        }

        #sub-nav-items li {
            margin-bottom: 80px;
        }
    
        #sub-nav-items li a.active {
        background-image: url("../imgs/underline-big.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    
    }


 @media screen and (max-width: 1024px) {

    #sub-nav-items li {
        display: inline;
        margin-right: 10%;
    }    
 }

@media screen and (max-width: 600px) {

    
    #sub-nav-items li {
        margin-right: 5%;
        font-size: smaller;
 }

 }

 @media screen and (max-width: 600px) {
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li {
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

}